<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{% block title %} HyperJob! {% endblock %}</title>
</head>
<body>
    <h2>{% block heading %} Welcome to HyperJob! {% endblock %}</h2>
    {% include "hyperjob/topnav.html" %}
    {% block content %} {% endblock %}
    <!-- Footer -->
    {% include "hyperjob/contact.html" %}
    <!-- End of Footer -->
</body>
</html>