<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{% block title %} HyperJob! {% endblock %}</title>
</head>
<body>
    <div class="container">
     <div class="row justify-content-center">
         <h2><a href="/">HyperJob!</a></h2>
     </div>
    </div>
    <div class="container">
        <div class="row">
        <div class="col">
        {% include "hyperjob/topnav.html" %}
        </div>
        </div>
    </div>
    <div class="mt-2 col-md-12"></div>
    <div class="container">
        <div class="row justify-content-center">
            <h2>{% block heading %} {% endblock %}</h2>
        </div>
    </div>
    <div class="container" style="min-height: 500px;">
        {% block content %} {% endblock %}
    </div>
    <div class="mt-2 col-md-12"></div>
    <div class="container">
        <!-- Footer -->
        {% include "hyperjob/contact.html" %}
        <!-- End of Footer -->
    </div>
</body>
</html>